.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
}

.login input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: var(--input-background);
}

.login button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-background);
    color: white;
    cursor: pointer;
}
