.sidebar {
    width: 25%;
    background-color: #202123;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.sidebar-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.chat-list {
    flex: 1;
    overflow-y: auto;
}

.chat-item {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #35363a;
    color: white;
    transition: background-color 0.3s ease;
}

.chat-item.active {
    background-color: #00aaff;
}

.chat-item:hover {
    background-color: #0077cc;
}

.sidebar-footer {
    text-align: center;
}
.sidebar-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.profile-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #35363a;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.profile-container:hover {
    background-color: #0077cc;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Делаем иконку круглой */
    margin-right: 20px; /* Увеличиваем расстояние между аватаркой и именем */
}

.profile-name {
    font-size: 16px;
    color: white;
}

.settings-button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #35363a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings-button:hover {
    background-color: #0077cc;
}
